*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Reset default styles */
}
html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(231, 149, 190);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
.main{
    height: 220px;
    width: 220px;
    background-color: red;
}